/*
 * BOOTSTRAP CSS
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

/*
 * Base structure
 */

html, body {
    /**Set background to not move while scrolling in conjunction to particles.js effects
https://stackoverflow.com/questions/45329225/how-to-set-background-image-for-whole-bootstrap-container-fluid
*/

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-size: 100%;
    background-image: url("../jpg/spacestuff.jpg");
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: #fff;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

/*
 * Header
 */
.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, .25);
}

/*Margin between masthead text*/
.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

/*Active masthead links (usually the header)*/
.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

/*
 * Cover
 */
.cover {
    padding: 0 1.5rem;
}

.cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
}

/*
 * Footer
 */
.mastfoot {
    color: rgba(255, 255, 255, .5);
}

/*PARTICLES JS CSS*/

#particles-js {
    width: 100%;
}

.disable-pointer-events{
    /*This allows us to click through the container (to click particles.js elements). By default this isn't possible.*/
    pointer-events: none;
}

.enable-pointer-events{
    /*This allows us to click through the container (to click particles.js elements)*/
    pointer-events: auto;
}

/*Custom Styles*/
.cover-container {
    max-width: 50em;
    position: absolute;
}